<div class="flex-col h-screen mx-auto w-2/3">
  <h1 class="text-3xl font-extrabold w-full text-center mt-12 mb-16">About Me: Capturing Life's Precious Moments Through a Mother's Lens</h1>
  <div class="flex">
    <img class="w-full md:w-3/4 h-[500px]" src="/img/3.jpg" alt="">
    <p class="w-full md:w-3/4 m-4 pl-4 font-light">Hello! I'm <strong>Hildana Bekele</strong>, a passionate photographer and a dedicated mother. While being a mom keeps me on my toes, photography has always held a special place in my heart. I believe that every moment, no matter how small, deserves to be cherished and remembered. <br><br><br> As a photographer, I've honed my skills through years of practice and a deep love for the art. While photography started as a hobby, it has blossomed into a fulfilling side gig that allows me to express my creativity and capture the beauty of the world around me.</p>
  </div>
</div>
