<div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-4">
  <a href="/img/1.jpg"><img class="w-full h-auto" src="/img/1.jpg" alt="Image 1"></a>
  <a href="/img/2.jpg"><img class="w-full h-auto" src="/img/2.jpg" alt="Image 2"></a>
  <a href="/img/3.jpg"><img class="w-full h-auto" src="/img/3.jpg" alt="Image 3"></a>
  <a href="/img/4.jpg"><img class="w-full h-auto" src="/img/4.jpg" alt="Image 4"></a>
  <a href="/img/5.jpg"><img class="w-full h-auto" src="/img/5.jpg" alt="Image 5"></a>
  <a href="/img/6.jpg"><img class="w-full h-auto" src="/img/6.jpg" alt="Image 6"></a>
  <a href="/img/7.jpg"><img class="w-full h-auto" src="/img/7.jpg" alt="Image 6"></a>
  <a href="/img/8.jpg"><img class="w-full h-auto" src="/img/8.jpg" alt="Image 6"></a>
  <a href="/img/9.jpg"><img class="w-full h-auto" src="/img/9.jpg" alt="Image 6"></a>
  <a href="/img/10.jpg"><img class="w-full h-auto" src="/img/10.jpg" alt="Image 6"></a>
  <a href="/img/11.jpg"><img class="w-full h-auto" src="/img/11.jpg" alt="Image 6"></a>
  <a href="/img/8.jpg"><img class="w-full h-auto" src="/img/8.jpg" alt="Image 6"></a>
</div>
