<div>
    <p class="bg-gray-200 p-5 cursive">Ths is home page</p>
    <a href="/contact">Contact</a>
    <a href="https://organicthemes.com/demo/photographer-block/"> Refer to this</a>
    <p class="text-sky-400">The quick brown fox...</p>
</div>