<div class="wrapper max-w-full whitespace-nowrap flex items-center justify-center">
    <i id="left" class="fa-solid fa-angle-left bg-gray-300 h-[46px] w-[46px] md:min-w-[46px] text-center leading-[46px] cursor-pointer rounded-[50%] text-[1.2rem]"></i>
    <div id = "carousel" class="flex w-full carousel whitespace-nowrap object-cover overflow-hidden">
        <img class=" w-full sm:w-[calc(100%/2)] lg:w-[calc(100%/3)]  object-cover hover:scale-110 transition-transform duration-1000" src="/img/1.jpg" alt="pic 1" >
        <img class=" w-full sm:w-[calc(100%/2)] lg:w-[calc(100%/3)]  object-cover hover:scale-110 transition-transform duration-1000" src="/img/2.jpg" alt="pic 2" >
        <img class=" w-full sm:w-[calc(100%/2)] lg:w-[calc(100%/3)]  object-cover hover:scale-110 transition-transform duration-1000" src="/img/3.jpg" alt="pic 3">
        <img class=" w-full sm:w-[calc(100%/2)] lg:w-[calc(100%/3)]  object-cover hover:scale-110 transition-transform duration-1000" src="/img/4.jpg" alt="pic 1">
        <img class=" w-full sm:w-[calc(100%/2)] lg:w-[calc(100%/3)]  object-cover hover:scale-110 transition-transform duration-1000" src="/img/5.jpg" alt="pic 2">
        <img class=" w-full sm:w-[calc(100%/2)] lg:w-[calc(100%/3)]  object-cover hover:scale-110 transition-transform duration-1000" src="/img/6.jpg" alt="pic 3">      
    </div>
    <i id="right" class="fa-solid fa-angle-right bg-gray-300 h-[46px] w-[46px] md:min-w-[46px] text-center leading-[46px] cursor-pointer rounded-[50%] text-[1.2rem]"></i>
</div>
<script src="/js/home.js"></script>